//Global Colors variables

//orange scale
  $orange: #ff673c;
  $dark-orange: #ff3800;
  $soft-orange: #ff663aba;
  $red: red;

//gray scale
  $dark-gray: #212322;
  $gray: #3b3b3bcc;
  $soft-gray: #898989;
  $light-gray: #bababa;
  $font-gray: #cfcfcf;
  $white: #fff;

//Usage
  $primary-background: $dark-gray;
  $secondary-background: $gray;
  $primary-color: $font-gray;
