
.aboutPage{
  padding: 35px 2.5% 0;
  background: #212322;
  .about{
    width: 100%;
    //padding: 80px 10px;
    margin: 25px auto 0;
    display: flex;
    align-items: center;

    .aboutBg{
      //background: url('../../pictures/me2.jpg') no-repeat;
      width: 43%;
      img{
        width: 100%;
        position: relative;
        //top: 50%;
        //transform: translateY(-50%);
      }
    }
    .aboutContent{
      text-align: right;
      font-size: 1.5vw;
      color: #d1d1d1;
      width: 57%;
      padding-left: 3%;
    }
    span{
      display: block;
      margin-bottom: 25px;
    }
    .lastChild, .firstChild{
      margin-bottom: 0px;
    }

  }
  .aboutInn {
    font-size: 16px;
    //display: flex;
    span {
      display: block;
      text-decoration: underline;
      margin: 15px 0 7px 0;
    }
    &>*{
      border: 1px solid #bababa;
      margin: 10px 7px 0;
      padding: 10px;
    }
    .education {
      margin-left: 0;
      min-width: 25%;
    }
    .experience{
      max-width: 65%;
    }
    .skills{
      margin-right: 0;
      max-width: 28%;
      min-width: 20%;
      li{
        margin-bottom: 10px;
      }
    }
  }
}

.contactForm {
  display: flex;
  justify-content: center;

  .contactFormWrapper{
    width: 35%;
    margin-right: 5%;
    form {
      font-size: 16px;

      &>div:not(.buttons){
        margin: 0 0 25px 0;
        position: relative;
        label{
          display: inline-block;
          width: 15%;
        }
        input, textarea{
          display: inline-block;
          width: 85%;
          border-radius: 3px;
          border: 1px solid #bababa;
          min-height: 30px;
          padding: 5px 10px;
          box-sizing: border-box;
        }
        span{
          position: absolute;
          left: 15%;
          top: 100%;
          color: red;
          font-size: 14px;
        }
      }

    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    &>*{
      width: 130px;
      height: 26px;
      background: #000000bd;
      border: 1px solid #000000ba;
      border-radius: 3px;
      margin-bottom: 10px;
      color: #fff;
      &:hover{
        background: #000;
      }
    }
    .disable{
      background: #6e6e6ebd;
    }
  }
  .contactsList {
    min-width: 35%;
    padding-top: 48px;
    span{
      margin-right: 6px;
    }
  }
}
 .homePage{
   position: relative;
   .me{
     opacity: 0.9;
     filter: alpha(opacity=60);
     background-size: 100%;
      background: url('../../pictures/2.jpg') no-repeat;
     position: relative;
     img{
       width: 100%;
     }
     .darkness{
       width: 100%;
       height: 100%;
       background: #0000008c;
       display: block;
       position: absolute;
       top: 0;
     }
   }
   .hello{
     position: absolute;
     top: 177px;
     color: #e1e1e1;
     padding: 13px 0;
     text-align: center;
     font-size: 26px;
     left: 25%;
     right: 25%;
     span{
       color: #ff673c;
       font-weight: 600;
     }
     a.homeLink{
       clear: both;
       display: inline-block;
       margin-top: 25px;
       color: #fff;
       text-decoration: none;
       padding: 7px 10px;
       border: 2px solid #fff;
       &:hover{
         background: #393939a3;
         border-color: #bababa;
       }
     }
   }
 }