
.aboutPage{
  padding: 35px 0 0;
  background: #212322;
  color: #cfcfcf;


  .aboutIntro{
    width: 100%;
    margin: 25px auto 0;
    display: flex;
    padding: 0 2.5%;
    position: relative;
    .aboutIntroInn{
      width: 40%;
      padding-top: 45px;

      .aboutIntroBg{
        border-radius: 40px;
        overflow: hidden;
        width: 60%;
        margin: 0 auto;

        img{
          width: 100%;
          position: relative;
        }
      }
      .aboutIntroContent{
        text-align: center;
        font-size: 1.1vw;
        color: #d1d1d1;
      }
    }
    .skills {
      padding: 0 50px 0 90px;
      width: 60%;
      color: #cfcfcf;
      h2{
        text-align: center;
      }
      .skillsInn{
        &>div {
          margin-bottom: 15px;
        }
        span{
          background: #ff663aba;
          margin-bottom: 10px;
          padding: 3px 8px;
          width: auto;
          display: inline-block;
          margin-right: 10px;
          border-radius: 5px;
        }
      }
    }
    span{
      display: block;
    }
    .lastChild, .firstChild{
      margin-bottom: 0px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 99.91%;
      left: 0;
      right: 0;
      padding-bottom: 10%;
      background: #212322;
      clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
      z-index: 1;
    }
  }
  .aboutInn {
    font-size: 16px;
    span {
    }
    &>*{
      margin: 10px 7px 0;
      padding: 10px 2.5%;
    }
    .education {
      background: #3b3b3bcc;
      margin: 0;
      padding: 15% 0 60px;
      position: relative;

      h2{
        text-align: center;
        margin-bottom: 70px;
        span{
          text-decoration: none;
          border-bottom: 2px solid #fff;
          line-height: 2;
          display: inline-block;
        }

      }
      .educationWrapper{
        display: flex;
        justify-content: space-around;
        &>div{
          min-width: 25%;
          &>div{
            text-align: center;
          }
        }
        .bgPicAvni, .bgPicJohnB, .bgPicUdemy{
          display: block;
          float: left;
          width: 100%;
          height: 90px;
          background-size: 100px;
          background-repeat: no-repeat;
          background-position: center;
          color: #ff7e59;
          text-align: center;
        }
        .bgPicAvni{
          background-image: url('../../pictures/avni.jpg');
          background-size: 12%;
        }
        .bgPicJohnB{
          background-image: url('../../pictures/bryce.jpg');

        }
        .bgPicUdemy{
          background-image: url('../../pictures/udemy2.png');
        }
      }
      &:after {
        content: '';
        position: absolute;
        top: 99.91%;
        left: 0;
        right: 0;
        padding-bottom: 10%;
        background: #3b3b3bcc;
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
        z-index: 1;
      }
    }
    .experience {
      margin: 0;
      padding-top: 15%;
      position: relative;
      padding-bottom: 70px;

      h2 {
        text-align: center;
        margin-bottom: 70px;
        span {
          text-decoration: none;
          border-bottom: 2px solid #fff;
          line-height: 2;
          display: inline-block;
        }
      }
      .experienceInn {
        text-align: center;
        display: flex;
        & > div {
          padding: 0 50px;
          font-size: 18px;
        }

        ul {
          list-style: none;
        }

        b {
          margin-bottom: 15px;
          display: block;
        }

        .bgPicEshop, .bgPicBeehive {
          display: block;
          float: left;
          width: 100%;
          height: 90px;
          background-size: 100px;
          background-repeat: no-repeat;
          background-position: center;
          color: #ff7e59;
          text-align: center;
        }

        .bgPicEshop {
          background-image: url('../../pictures/eshop.png');
        }

        .bgPicBeehive {
          background-image: url('../../pictures/beehive.png');
        }
      }
    }
  }
  .linkToGit{
    background: #f8643a;
    text-align: center;
    padding: 20px 0;
    a{
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      &:hover{
        color: #b8b8b8;
      }
    }
  }
}


//----------------------

.contactForm {
  background: #212322;
  padding: 50px 0 0;

  .contactFormWrapper{
    width: 35%;
    display: block;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #cfcfcf;
    form {
      font-size: 16px;

      &>div:not(.buttons){
        margin: 0 0 25px 0;
        position: relative;
        label{
          display: inline-block;
          width: 15%;
        }
        input, textarea{
          display: inline-block;
          width: 85%;
          border-radius: 3px;
          border: 1px solid #bababa;
          min-height: 30px;
          padding: 5px 10px;
          box-sizing: border-box;
        }
        span{
          position: absolute;
          left: 15%;
          top: 100%;
          color: red;
          font-size: 14px;
        }
      }

    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    &>*{
      width: 130px;
      height: 26px;
      background: #000000bd;
      border: 1px solid #000000ba;
      border-radius: 3px;
      margin-bottom: 10px;
      color: #fff;
      &:hover{
        background: #000;
      }
    }
    .disable{
      background: #6e6e6ebd;
    }
  }
  .contactsList {
    width: 50%;
    display: block;
    margin: 0 auto;
    background: #212322;
    padding: 35px 10px;
    color: #cfcfcf;
    text-align: center;
    ul{
      list-style: none;
      padding: 0;
    }
    span{
      margin-right: 6px;
    }
  }
}


//-----------------------

 .homePage{
   position: relative;
   .me{
     opacity: 0.9;
     filter: alpha(opacity=60);
     background-size: 100%;
      background: url('../../pictures/2.jpg') no-repeat;
     position: relative;
     img{
       width: 100%;
     }
     .darkness{
       width: 100%;
       height: 100%;
       background: #0000008c;
       display: block;
       position: absolute;
       top: 0;
     }
   }
   .hello{
     position: absolute;
     top: 177px;
     color: #e1e1e1;
     padding: 13px 0;
     text-align: center;
     font-size: 26px;
     left: 25%;
     right: 25%;
     span{
       color: #ff673c;
       font-weight: 600;
     }
     a.homeLink{
       clear: both;
       display: inline-block;
       margin-top: 25px;
       color: #fff;
       text-decoration: none;
       padding: 7px 10px;
       border: 2px solid #fff;
       &:hover{
         background: #393939a3;
         border-color: #bababa;
       }
     }
   }
 }

@media only screen and (max-width: 1200px)  {
  .aboutPage {
    .aboutIntro{
      display: block;
      position: relative;
      .aboutIntroInn, .skills {
        width: 100%;
        padding: 5% 2%;
      }
      .aboutIntroInn{
        .aboutIntroContent{
          font-size: 18px ;
        }
      }

    }
    .aboutInn{
      .education{
        margin: 0;
        .educationWrapper{
          display: block;
          .bgPicAvni{
            background-size: 70px;
            background-position: center 80%;
          }
          &> div{
            min-width: 100%;
            margin-bottom: 35px;
          }
        }

      }
      .experience{
        .experienceInn{
          display: block;
        &> div{
          width: 100%;
          margin-bottom: 50px;
        }
        }
      }
    }
  }
}