
.aboutPage{
  padding: 0 2.5%;
  .about{
    width: 100%;
    border: 1px solid #bababa;
    padding: 15px 10px;
    margin: 0 auto;
    text-align: center;
  }
  .aboutInn {
    font-size: 16px;
    display: flex;
    span {
      display: block;
      text-decoration: underline;
      margin: 15px 0 7px 0;
    }
    &>*{
      border: 1px solid #bababa;
      margin: 10px 7px 0;
      padding: 10px;
    }
    .education {
      margin-left: 0;
      min-width: 25%;
    }
    .experience{
      max-width: 65%;
    }
    .skills{
      margin-right: 0;
      max-width: 28%;
      min-width: 20%;
      li{
        margin-bottom: 10px;
      }
    }
  }
}

.contactForm {
  display: flex;
  justify-content: center;

  .contactFormWrapper{
    width: 35%;
    margin-right: 5%;
    form {
      font-size: 16px;

      &>div:not(.buttons){
        margin: 0 0 15px 0;
        label{
          display: inline-block;
          width: 15%;
        }
        input, textarea{
          display: inline-block;
          width: 85%;
          border-radius: 3px;
          border: 1px solid #bababa;
          min-height: 30px;
          padding: 5px 10px;
          box-sizing: border-box;
        }
      }
      .buttons {
        display: flex;
        justify-content: flex-end;
        &>*{
          width: 130px;
          height: 26px;
          background: #000000bd;
          border: 1px solid #000000ba;
          border-radius: 3px;
          margin-left: 10px;
          color: #fff;
         &:hover{
           background: #000;
         }
        }
      }
    }
  }
  .contactsList {
    min-width: 35%;
    padding-top: 48px;
    span{
      margin-right: 6px;
    }
  }
}
