
.navigation {
    padding: 20px 20px;
    background: #f8643a;
    box-shadow: inset 0 -3px 19px 3px #ff3800;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;

        li{
            padding: 0 10px;

            a{
                text-decoration: none;
                color: #000;
                &:hover{
                    color: #5c5c5c;
                }
            }
        }
    }
}