@import '../../styles/colorsConfig';
.slider {
  position: relative;
  width: 100%;
  background: $primary-background;
  margin: 0 auto;
  height: 800px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  padding-left: 30%;
  width: 100%;
}

.slider:before, .slider:after {
  content: "";
  top: 0;
  position: absolute;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 1;
  background: $primary-background;
  opacity: .9;

}
.slider:after{
  left: auto;
  right: 0;
}

.slide {
  display: inline-block;
  height: 100%;
  padding: 0 50px;
  width: 60%;
  img{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $font-gray;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 9;
  color: $white;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 9;
  color: $white;
}

.disableBtn {
  opacity: .3;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: $dark-gray
}


@media only screen and (max-width: 1200px) {
  .slider{
    height: 100vh;
    position: relative;
    &::before, &::after{
      width: 10%;
    }
    .slider-wrapper{
      padding-left: 10%;
      .slide{
        width: 90%;
        text-align: center;
        padding: 0 5%;

      }
    }

  }

}